<style>
    body {
        margin: 0;
        overflow: hidden;
        background: #273746;
    }


    .btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: #f5f5f5;
        border-radius: .6vw;
        border: none;
        /*box-shadow:0px 0px 3px #000;*/
        cursor: pointer;
        font-size: 3.5vw;
        outline: none;
        padding-top: 2vh;
        padding-bottom: 2vh;
        box-shadow: 0px 0px 3px #000;
    }

    .btn:hover {
        box-shadow: 0px 0px 7px #000;
    }

    #sentimentScore,
    #sentimentScore2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        height: 8vw;
        width: 8vw;
        background-color: black;
        color: white;
        border-radius: 100vw;
        border: solid 0.5vw #000;
        text-align: center;
        font-size: 4vw;
        line-height: 8vw;
    }

    #sentimentScore {
        top: 5%;
    }

    #sentimentScore2 {
        bottom: 5%;
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 12vw;
        width: 12vw;
        transition: 1s;
        cursor: pointer;
        z-index: 5;
    }

    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: rgb(85, 85, 85);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        border-radius: 100vw;
        border: solid .7vw #fff;
        box-shadow: .1vw .1vw .1vw #000;
        transition: 1s;
        cursor: pointer;
        overflow: hidden;
    }

    .circle {
        position: absolute;
        top: 50%;
        left: 100%;
        border-radius: 100vw;
        background-color: #f5f5f5;
        transform: translate(0%, -50%);
        height: 30%;
        width: 30%;
        box-shadow: .1vw .1vw .2vw #000;
        border: solid 0vw #000;
        transition: 1s ease-in-out;
        z-index: 2;
    }

    .word {
        position: absolute;
        border-radius: 1vw;
        transform: translate(-50%, -50%);
        box-shadow: .1vw .1vw .2vw #000;
        height: 4%;
        width: 13%;
        transition: 1s ease-in-out;
        z-index: 2;
    }

    .word1 {
        top: 65%;
        left: 85%;
        background-color: #9bbb59;
    }

    .word2 {
        top: 55%;
        left: 65%;
        background-color: #f79646;
    }

    .word3 {
        top: 65%;
        left: 48%;
        background-color: #c0504d;
    }

    .word4 {
        top: 35%;
        left: 44%;
        background-color: #ffd700;
    }

    .word5 {
        top: 55%;
        left: 19%;
        background-color: #77933c;
    }

    .word6 {
        top: 45%;
        left: 61%;
        background-color: #9bbb59;
    }

    .line {
        position: absolute;
        border-radius: 1vw;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s ease-in-out;
        height: 3%;
        width: 80%;
        background-color: rgb(50, 50, 50);
        opacity: 0.5;
        z-index: 1;
    }

    .line1 {
        top: 35%;
    }

    .line2 {
        top: 45%;
    }

    .line3 {
        top: 55%;
    }

    .line4 {
        top: 65%;
    }

    .container:hover>.bg>.word {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100vw;
        background-color: #9bbb59;
        box-shadow: 0vw 0vw 0vw #9bbb59;
    }

    .container:hover>.bg>.circle {
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s ease-in-out;
        background-color: #9bbb59;
        box-shadow: 0.2vw 0.2vw 0.4vw #000;
    }

    .container:active>.bg>.circle,
    .container:active>.bg>.word {
        background-color: #9bbb59;
        transition: 1000ms;
    }

    .container:hover>.bg>.line {
        left: -50%;
    }

    .container:active>.bg>.line {
        left: -50%;
    }

    .container:hover>.bg {
        border-radius: 100vw;
        transition: 6s;
        background-color: #77933c;
    }

    .container:hover>.bg>.arrow {
        left: 150%;
    }

    .lineArrow1,
    .lineArrow2 {
        height: 66%;
        width: 10%;
        background-color: white;
        border-radius: 100vw;
        position: absolute;
        left: 50%;
        transition: 1s;
    }

    .lineArrow1 {
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 30%;
    }

    .lineArrow2 {
        transform: translate(-50%) rotate(45deg);
        top: 37%;
    }

    .center {
        margin: auto;
        width: 28%;
        color: whitesmoke;
        padding: 10px;
    }
</style>


<script src="/static/jquery-1.9.1.js"></script>
<script>

    $(document).ready(function () {
        $('#submitButtonDummy').click(function () {
            console.log("Entering");
            $.ajax({
                url: "/analyseReview",
                type: "get",
                data: {
                    'movie_review': $('#userInput').val()
                },
                success: function (response) {
                    $('#result').show();
                    if (response == "1") {
                        document.getElementById('sentimentScore2').innerHTML = "😊";
                        // $('#result').val("Positive Review");
                        $('#outputArea').html("This review is having positive sentiment.");
                    }
                    else if (response == "0") {
                        document.getElementById('sentimentScore2').innerHTML = "☹️";
                        $('#result').val("negative Review");
                        $('#outputArea').html("This review is having negative sentiment.");
                    }
                    else {
                        $('#outputArea').html("Invalid grammar in the review text");
                    }
                },
                error: function (xhr) {
                    alert("Error");
                }
            });
        });
    });




</script>
</head>

<body>

    <form id="inputForm" action="/predict" method="POST">
        <style>
            .paperwrapper {
                vertical-align: middle;
                filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));

            }

            .paper {
                height: 400px;
                width: 297px;
                max-height: 400px;
                max-width: 297px;
                position: relative;
                border-radius: 20px;
                background-color: white;
                /*box-shadow:1px 1px 12px rgba(0,0,0,0.5);*/
                /* margin-left:auto; */
                margin-right: auto;
                padding-top: 40px;
                padding-bottom: 20px;
                clip-path: polygon(0px 0px, 5px 5px, 0px 5px, 5px 10px, 10px 25px, 2px 50px, 8px 80px, 0px 123px, 3px 156px, 1px 200px, 6px 230px, 0px 300px, 4px 340px, 7px 360px, 0px 460px, 100% 100%, 100% 0%, 0px 0px);

            }

            .textwrapper {
                background: repeating-linear-gradient(0deg,
                        rgba(0, 0, 255, 0.3),
                        #fff 1px,
                        #fff 20px);
                height: 100%;
                width: 100%;
                border-bottom: 1px solid rgba(255, 0, 0, 0.3);
                border-top: 1px solid rgba(255, 0, 0, 0.3);
            }

            textarea {
                height: 100%;
                padding: 0px;
                margin: 0px;
                margin-left: 10px;
                margin-right: 10px;
                background: transparent;
                border: none;
                line-height: 20px;
                font-size: 14px;
                width: calc(100% - 20px);
                outline: 0;
                resize: none;
                font-family: monospace;
                color: rgba(0, 0, 0, 0.5);
            }
        </style>


        <br>
        <div class="paperwrapper">
            <div class="paper">
                <div class="textwrapper">
                    <textarea maxlength="700" id="userInput" name="userInput" value={{result}} class="input"
                        placeholder="Paste review here..." autocomplete="off"></textarea>
                </div>
            </div>
        </div>
        <input type="submit" id="submitingButtonForReview" style="display: none;">
    </form>
    <div id="outputArea" style="color:white;float: right;padding-right: 142px;border: 10px;">

        <!-- This will contain the answer for  -->
    </div>

    <div id="sentimentScore2" title="Sentiment face">😶</div>
    <div class="container" id="submitButtonDummy">
        <style>
            #submitButtonForReviewSubmition {
                display: block;
                width: 220px;
                height: 70px;
                z-index: 1;
            }

            #submitButtonForReviewSubmition:after {
                content: '';
                background: linear-gradient(120deg, #6559ae, #ff7159, #6559ae);
                background-size: 400% 400%;
                -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
                -moz-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
                -webkit-animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
                animation: gradient 3s ease-in-out infinite, border 1s forwards ease-in-out reverse;
            }

            #submitButtonForReviewSubmition>span {
                display: block;
                background: linear-gradient(120deg, #6559ae, #ff7159, #6559ae);
                background-size: 400% 400%;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-animation: gradient 3s ease-in-out infinite;
                -webkit-animation: gradient 3s ease-in-out infinite;
                animation: gradient 3s ease-in-out infinite;
            }

            /* helpers */
            .absolute-centering,
            body:after,
            #submitButtonForReviewSubmition,
            #submitButtonForReviewSubmition:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }

            .text-formatting,
            #submitButtonForReviewSubmition {
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                letter-spacing: 2px;
                line-height: 70px;
                font-family: 'Squada One', cursive;
                font-size: 28px;
            }

            /* motion */
            @-moz-keyframes gradient {
                0% {
                    background-position: 14% 0%;
                }

                50% {
                    background-position: 87% 100%;
                }

                100% {
                    background-position: 14% 0%;
                }
            }

            @-webkit-keyframes gradient {
                0% {
                    background-position: 14% 0%;
                }

                50% {
                    background-position: 87% 100%;
                }

                100% {
                    background-position: 14% 0%;
                }
            }

            @keyframes gradient {
                0% {
                    background-position: 14% 0%;
                }

                50% {
                    background-position: 87% 100%;
                }

                100% {
                    background-position: 14% 0%;
                }
            }

            @-moz-keyframes border {
                0% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                25% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                50% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
                }

                75% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
                }

                100% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
                }
            }

            @-webkit-keyframes border {
                0% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                25% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                50% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
                }

                75% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
                }

                100% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
                }
            }

            @keyframes border {
                0% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 4px 66px, 4px 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                25% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 66px, 216px 66px, 216px 100%, 100% 100%, 100% 0%, 0% 0%);
                }

                50% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 216px 4px, 100% 0%, 0% 0%);
                }

                75% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 4px, 4px 0%, 0% 0%);
                }

                100% {
                    -webkit-clip-path: polygon(0% 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 4px 100%, 0% 100%);
                }
            }
        </style>
        <!-- button code-->
        <a id="submitButtonForReviewSubmition" target="_blank"><span>predit</span></a>
    </div>