<div class="cards-header">

</div>

<div class="cards card">
  <div class="account card" onclick="findByName('Vinna Thandi Varuvaya');">
    <div class="account-cash">Vinna Thandi Varuvaya</div>
  </div>
  <div class="account card" onclick="findByName('Pokiri');">
    <div class="account-cash">Pokiri</div>
  </div>
  <div class="account card" onclick="findByName('Money Heist');">
    <div class="account-cash">Money Heist</div>
  </div>
  <div class="account card" onclick="findByName('The Call');">
    <div class="account-cash">The Call</div>
  </div>
</div>
<br>

<br>
<div class="cards card">
  <div class="account card" onclick="findByName('Panchali');">
    <div class="account-cash">Panchali</div>
  </div>
  <div class="account card" onclick="findByName('Ravanaprabhu');">
    <div class="account-cash">Ravanaprabhu</div>
  </div>
  <div class="account card" onclick="findByName('Drisyam');">
    <div class="account-cash">Drisyam</div>
  </div>
  <div class="account card" onclick="findByName('Mr. Robot');">
    <div class="account-cash">Mr. Robot</div>
  </div>
</div>
<br>
