
  <script src="/static/jquery-1.9.1.js"></script>
<script>
     // for submitting the movie name for loading the reviews from imdb
     $('#submitMovieName').click(function () {
        // alert("wok");
        $.ajax({
          url: "/submitMovieName",
          type: "get",
          data : {
            'movieName': $('#movieNameForSearch').val()
          },
          success: function (response) {
            $('#root').html(response);
          },
          error: function (xhr) {
            alert("Error");
          }
        });
      });
</script>
<div class="cards-header">
</div>

<div class="cards card">
 <input type="text" class="tparent" id="movieNameForSearch" value="" placeholder="Enter the movie name to search"  name="movieNameForSearch">
</div>
<br>

<style>
  #submitMovieName{
	
  background: #282F32;
  border: 2px solid #f1c40f;
  border-radius: 0.6em;
  color:white;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  width:100%;
}
#submitMovieName:hover{
background-color:#f1c40f;
color:black;
box-shadow: 0 0 40px #7986CB;
}
</style>

<div id="submitMovieName" class="button offer-button" style="margin-top: 100px; height: 20%;font-size: x-large;">CHECK SENTIMENT</div>